<ion-view view-title="BioApp">
  <ion-content class="padding">
<!--video de anuncio sobre la importancia del agua-->

    <video loop="loop" id="video_background" preload="auto"  volume="50" class="video">
      <source src="../resource/agua3.mp4" type="video/mp4">
    </video>



<!--****************************************************************************************************************-->
    <div class="imagenfondo">
    </div>
  
<!--****************************************************************************************************************-->
    

    <div class="container fondoblanco">
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>¿Cúal es la importancia del agua?
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">        
            <p class = "pp">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua. </p>
        </div>   
      </div>
      <div class="row fondoa">
        <video  width="100%" height="240" controls >
          <source src="../resource/agua3.mp4" type="video/mp4">
        </video>
      </div>

      <div class="row">
        <div class="col col-100">
          <p class="ppsty">
            El agua no solo es importante como recurso vital sino también como recurso económico e industrial, ya que se usa en innumerables actividades industriales, supone un consumo elevado y casi siempre resulta contaminada”.
          </p>
        </div>   
      </div>

    <video loop="loop" id="video_background" preload="auto" controls="controls" volume="50" class="videolol">
      <source src="../resource/agua.mp4" type="video/mp4">
    </video>
      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>¿Qúe debe comer un adolescente?
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">        
            <p class = "pp">
              Las ingestas recomendadas en la adolescencia no
              se relacionan con la edad cronológica sino con el ritmo de crecimiento o con la edad biológica, ya que
              el ritmo de crecimiento y el cambio en la composición corporal, van más ligados a esta. 
              El principal objetivo de las recomendaciones
              nutricionales en este periodo de la vida es conseguir
              un estado nutricional óptimo y mantener un ritmo
              de crecimiento adecuado, lo que conducirá a mejorar
              el estado de salud en esta etapa y en la edad adulta y
              a prevenir las enfermedades crónicas de base nutricional que pueden manifestarse en etapas posteriores
              de la vida. </p>
            
              <p class="pp">Ejemplo de menú para un adolescente:</p>
        </div>
      </div>

      <br>
      <div class="row fondotabla">
        <div class="col">
          <h4 class="textoA text-center"><span class="fas fa-utensils"></span>  TABLA NUTRICIONAL</h4>
          <hr class="line1">
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <h4 class="textomenu text-center">DESAYUNO</h4>
            <hr>            

            <ul class="Blancopeque">
              <li>Ensaladda de frutas</li>
              <li>2 rebanadas de pan integral</li>
              <li>30g de queso blanco</li>
              <li>Aguacate</li>
              <li>1 vaso de jugo de naranja</li>
            </ul>

          </div>           
          <img src="https://files.genial.guru/files/news/part_15/157055/preview-5394010-1200x630-99-1484644462.jpg" style="padding-top:5%;padding-bottom: 5%;margin: 5% auto;display: block;" width="250" height="250""  alt="dasayuno">
          <hr>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <br><br>
            <h4 class="textomenu text-center ">MERIENDA</h4>
            <hr>
            <ul class="Blancopeque">
              <li>Yogurt de frutas con cereal</li>
            </ul>
          </div>
          <img src="https://i0.wp.com/nutritionbioclinic.com/wp-content/uploads/2017/09/6-1.png?fit=940%2C788&ssl=1"style="padding-top:5%;padding-bottom: 5%;margin: 5% auto; display: block;" width="250" height="250" alt="Refacciona">
          <hr>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <h4 class="textomenu text-center">ALMUERZO</h4>
            <hr>
            <ul class="Blancopeque">
              <li>Sopa de verduras</li>
              <li>1/4 de pollo horneado</li>
              <li>Enzalada mixta</li>
              <li>Arroz</li>
              <li>Jugo de piña</li>
            </ul>
          </div>
          <img src="https://frasesdelavida.com/wp-content/uploads/2017/01/amor-por-la-comida.jpg" style="padding-top:5%;padding-bottom: 5%;margin: 5% auto; display: block;" width="250" height="250" alt="almuerzo">
          <hr>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <br><br>
            <h4 class="textomenu text-center ">MERIENDA</h4>
            <hr>
            <ul class="Blancopeque">
              <li>1 ciruela</li>
              <li>1 taza de gelatina</li>
            </ul>
          </div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Mediaslunas%2C_caf%C3%A9_en_jarrito_y_agua_mineral_en_Caf%C3%A9_El_Gato_Negro.JPG/220px-Mediaslunas%2C_caf%C3%A9_en_jarrito_y_agua_mineral_en_Caf%C3%A9_El_Gato_Negro.JPG" style="padding-top:5%;padding-bottom: 5%;margin: 5% auto; display: block;" width="250" height="250" alt="merienda">
          <hr>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <h4 class="textomenu text-center">CENA</h4>
            <hr>
            <ul class="Blancopeque">
              <li>Arepa asada</li>
              <li>1 rebanada de jamón</li>
              <li>30g de queso blanco</li>
              <li>Jugo de melón</li>
              <li>5g de azúcar (opcional)</li>
            </ul>
          </div>
            <img src="https://www.periodicolaredaccion.com/wp-content/uploads/2018/02/CENA-ROMANTICA-HD.jpg" style="padding-top:5%;padding-bottom: 5%;margin: 5% auto; display: block;" width="250" height="250"  alt="cena">            

          <hr>
        </div>
      </div>



    <div class="container cont3">
      <div class="row fondotabla">
        <div class="col col-100">
          <h1 class="sth111 h1styl">Tabla Nutricional.</h1>
          <p class="sp">La información nutricional de un alimento se refiere a su valor energético y determinados nutrientes: grasas, grasas saturadas, hidratos de carbono, azúcares, proteínas y sal.

          Aunque la información nutricional será obligatoria a partir del 13 de diciembre de 2016, muchos productos ya la han incorporado de forma voluntaria de acuerdo con lo establecido en la nueva normativa. Si se realiza una declaración nutricional o de propiedades saludables o bien se trata de alimentos enriquecidos, es obligatorio realizar la información nutricional de acuerdo con lo establecido en el Reglamento sobre información alimentaria facilitada al consumidor.</p>
          
          <h1 class="sth111 h1styl ">Las necesidades nutricionales del adolescente</h1>

          <h1 class="aux h1styl ">Nutrientes</h1>
          <p class="sp">Los nutrientes proteínas, carbohidratos y grasas en los alimentos sirven como fuentes de energía para el cuerpo.</p>

          <ul>
            <li class="li">La grasa contribuye con más del doble: 9 calorías por gramo.</li>
            <li class="li">Cada gramo de proteína y carbohidrato proporciona 4 calorías, o unidades de energía.</li>
          </ul>


          <h1 class="aux h1styl">Proteínas</h1>
          <p class="sp">De los tres nutrientes, lo que menos nos preocupa es la proteína. No porque no sea importante; el 50% de nuestro peso corporal está formado de proteínas, sino porque los adolescentes en Estados Unidos obtienen el doble de proteínas que necesitan.</p>

          <p class="sp">A continuación algunos alimentos favoritos de adolescentes que contienen más proteína:</p>

          <ul>
            <li class="li">Carne de res</li>
            <li class="li">Pollo</li>
            <li class="li">Pavo</li>
            <li class="li">Cerdo</li>
            <li class="li">Pescado</li>
            <li class="li">Huevos</li>
            <li class="li">Queso</li>
          </ul>

          <h1 class="aux h1styl">Carbohidratos</h1>
          <p class="sp">Los carbohidratos, que se encuentran en almidones y azúcares se convierten en el principal combustible del cuerpo: azúcar simple glucosa. Sin embargo, no todos los carbohidratos se crean igual. En las comidas planificadas, queremos incluir alimentos con carbohidratos complejos y limitar los carbohidratos simples. Los carbohidratos complejos proporcionan energía continua; es por eso que se con frecuencia observa a maratonistas y otros atletas consumiendo grandes cantidades de pasta antes de competir. Adicionalmente, muchos almidones también proporcionan fibra y diversos nutrientes. Realmente son alimentos sustanciosos: pero bajos en grasa.</p>


          <ul>
            <li class="li">La mayoría de nutricionistas recomiendan que la ingesta calórica de los adolescentes incluya de 50 a 60 por ciento de carbohidratos complejos.</li>
            <li class="li">Los carbohidratos simples nos seducen con su sabor dulce y un pequeño golpe de energía pero ofrecen poco y deben reducirse en la dieta.</li>     
          </ul>



          <h1 class="aux h1styl">
            Grasa en la dieta.
          </h1>
          <p class="sp">Los expertos en nutrición recomiendan que la grasa no conforme más del 30 por ciento de la dieta. La grasa proporciona energía y ayuda al cuerpo a absorber las vitaminas solubles en grasa: A, D, E y K. Pero estos beneficios deben considerarse junto a los muchos efectos secundarios a la salud. Un adolescente que recurra a una dieta rica en grasas aumentará de peso, aunque sea físicamente activo. Se requiere un entrenamiento digno de un atleta olímpico para quemar el exceso de calorías de grasa todos los días.</p>

          <p class="sp">
            Los alimentos grasos contienen colesterol, una sustancia cerosa que puede obstruir una arteria y finalmente, endurecerla. El peligro de la arteriosclerosis es que la obstrucción afectará uno de los vasos sanguíneos que se conducen hacia el corazón o al cerebro, ocasionando un infarto o derrame cerebral. Aunque estas circunstancias que representan un peligro para la vida por lo general se presentan hasta en la vida adulta, el momento para iniciar a practicar la prevención es ahora, al reducir la cantidad de grasa en la dieta de su familia.
          </p>
          
          <p class="sp">
            La grasa en la dieta consta de tres tipos que varían en distintas proporciones:
          </p>

          <ul>
            <li class="li">Grasa mono insaturada, el tipo más sano, se encuentra en las aceitunas y el aceite de oliva; el maní, el aceite de maní y la mantequilla de maní; el anacardo, las nueces y el aceite de nuez y de canola.</li>
            <li class="li">Grasa poli insaturada, se encuentra en los aceites de maíz, cártamo, girasol, soya, semilla de algodón y semilla de sésamo.</li>
            <li class="li">Grasa saturada, el tipo más cargado de colesterol de los tres, se encuentra en los productos lácteos y la carne tales como la carne de res, cerdo, cordero, mantequilla, queso, crema, yemas de huevo, aceite de coco y aceite de palma.</li>
          </ul>

          <p class="sp">Su familia debe restringir la ingesta de grasa saturada a no más del 10 % del total de calorías diarias. El otro 20 % de la calorías de las grasas en la dieta deben venir de dos tipos de grasas insaturadas, las cuales se encuentran principalmente en los aceites vegetales.</p>

          <p class="sp">
            Si su familia consume muchos alimentos empacados y procesados, debe hacerse al hábito de leer las etiquetas con la información nutricional. Podría sorprenderle la cantidad de grasa, sin mencionar azúcar y sal (sodio), que contienen los alimentos que consume diariamente. Además, es posible que casi todos los productos empacados que contienen grasa contengan grasa parcialmente hidrogenada ya que tienen una vida útil más larga.
          </p>

          <h1 class="aux h1styl">Vitaminas y minerales</h1>
          <p class="sp">Una dieta completa basada en los lineamientos de USDA proporcionará las cantidades suficientes de todas las vitaminas y minerales esenciales. Los adolescentes tienden a no cubrir sus cuotas diarias de calcio, hierro y cinc.</p>
          <p class="sp">A menos que un examen de sangre o pruebas del pediatra revelen una deficiencia específica, es preferible obtener los nutrientes de los alimentos en lugar de consumir suplementos dietéticos.</p>

          <h1 class="aux h1styl">Lipidos</h1>
          <p class="sp">Los lípidos son un conjunto de moléculas orgánicas (la mayoría biomoléculas), que están constituidas principalmente por carbono e hidrógeno y en menor medida por oxígeno. También pueden contener fósforo, azufre y nitrógeno.</p>
          <p class="sp">Caracteristicas: Los lípidos son moléculas diversas en el cuerpo ; unos están formados por cadenas alifáticas saturadas o insaturadas, en general lineales, pero algunos tienen anillos (aromáticos). Algunos son flexibles, mientras que otros son rígidos o semiflexibles hasta alcanzar casi una total Flexibilidad mecánica molecular; algunos comparten carbonos libres y otros forman puentes de hidrógeno.</p>



          <h1 class="styh1 h1styl ">Tabla Nutricional de un adolescente</h1>
          
          <table class="egt">

            <thead>
              <tr>
                <th class="text">Hora de consumo.</th>
                <th class="text">Alimentos</th>
              </tr>
            </thead>

            <tbody>
              <tr>

                <td class="text">Desayuno.</td>

                <td>
                  <p class="sp">
                    1 opcion:
                    Tomar un lácteo en forma de vaso de leche, yogur o queso fresco, en función de la actividad física diaria y de la constitución del adolescente; se puede acompañar de una cucharada de cacao en polvo o miel.
                  </p>

                  <p class="sp">
                  2 opcion:
                  Acostumbrar al menor a beber zumo natural preparado en casa, pues es una forma más sencilla de ingerir varias piezas de fruta en una sola comida.  
                  </p>
                  <p class="sp">
                  3 opcion:
                  Asegurar el aporte de hidratos de carbono tomando dos tostadas integrales, acompañadas de aceite de oliva, tomate triturado o en rodajas, y jamón serrano o fiambres de pavo.                  
                  </p>

                  
                </td>


              </tr>

              <tr>

                <td class="text">Refaccion en la Mañana.</td>

                <td>
                  <p class="sp">
                    1 opcion:
                    Yogurt sin azucar + banano,
                    paquete de galletas de soda con queso ricotta(puede ser queso crema) y salsa natural, zanahorita rallada con limon y sal.
                  </p>
                  <p class="sp">
                    2 opcion: 
                    Tortilla de harina con jamon y queso, gajos de mandarina, palitos de pepino de yogurt.
                  </p>
                  <p class="sp">
                    3 opcion:
                    Nacho con frijol y queso parmesano,
                    gelatina con fruta picada, 
                    rollitos de jamon de pechuga de pavo.
                  </p>
                </td>
              </tr>

              <tr>
                <td class="text">
                  Almuerzo.
                </td>
                <td>
                  <p class="sp">
                    1 opcion:
                    Entrada, Sopa de fideos;
                    Plato principal, Guiso de arroz con carne y vegetales;
                    Postre, Fruta a eleccion.
                  </p>
                  <p class="sp">
                    2 opcion:
                    Entrada, Sopa con huevo;
                    Plato principal, Carne al horno con zahahoria rallada;
                    Postre, Duraznos en almibar.
                  </p>
                  <p class="sp">
                    3 opcion:
                    Entrada, Tarta de berenjenas;
                    Plato principal, Albondigas con ensalada;
                    Postre, Manzana al horno con caramelo.
                  </p>
                </td>
              </tr>


              <tr>
                <td class="text">
                  Refaccion en la tarde.
                </td>
                <td>
                  <p class="sp">
                    1 opcion:
                    Pan de agua con crema (o ricotta) y rodajas de tomate, chips de lenteja, fresas con mantequilla de mani o leche condensada. 
                  </p>
                  <p class="sp">
                    2 opcion:
                    Coctel de frutas mixtas,
                    hot dog: 1 panito de agua + 1 salchicha de pechuga de pollo con mostaza y salsa, 1 manzana en rodajas + abundante limos para evitar que se pnga negra.
                  </p>
                  <p class="sp">
                    3 opcion:
                    Pan con espinaca y queso,
                    Panqueque en trozos con miel,
                    Palomitas de maiz cubos de queso,
                    Pan pita con pollo.
                  </p>
                </td>
              </tr>


              <tr>
                <td class="text">
                  Cena.
                </td>

                <td>
                  <p class="sp">
                    1 opcion:
                    Entrada, Sopa de semola;
                    Plato principal, Pollo al horno con budin o pure;
                    Postre, Fruta a eleccion.
                  </p>  
                  <p class="sp">
                    2 opcion:
                    Entrada, Sopa crema de zapallo;
                    Plato principal, Pastel de carne con queso fresco y huevo;
                    Postre, Manzana rallada con jugo de naranja.
                  </p>  
                  <p class="sp">
                    3 opcion:
                    Entrada, Tortilla de acelga con queos fresco;
                    Plato principal, Pollo al horno con calabazas;
                    Postre, Budin de pan.
                  </p>  
                </td>
              </tr>            
            </tbody>
          </table>


          <hr/>



          <table class="egt">
            <thead>
              <tr>
                <th>Productos Nutritivos.</th>
                <th>Alimentos.</th>              
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text">Carbohidratos</td>
                <td>
                  <p class="sp">
                    Los glúcidos, carbohidratos, hidratos de carbono o sacáridos son biomoléculas compuestas de carbono, hidrógeno y oxígeno, cuyas principales funciones en los seres vivos son el brindar energía inmediata y estructural.
                  </p>
                </td>
              </tr>
              <tr>
                <td class="text">Grasas</td>
                <td><p class="sp">
                  En bioquímica, grasa es un término genérico para designar varias clases de lípidos, aunque generalmente se refiere a los acilglicéridos, ésteres en los que uno, dos o tres ácidos grasos se unen a una molécula de glicerina, formando monoglicéridos, diglicéridos y triglicéridos respectivamente
                </p></td>
              </tr>
              <tr>
                <td class="text">Lipidos</td>
                <td><p class="sp">
                  Los lípidos son un conjunto de moléculas orgánicas, que están constituidas principalmente por carbono e hidrógeno y en menor medida por oxígeno. También pueden contener fósforo, azufre y nitrógeno.​
                </p></td>
              </tr>
              <tr>
                <td class="text">Azucares</td>
                <td><p class="sp">
                  
                DescripciónSe denomina azúcar, en el uso más extendido de la palabra, a la sacarosa, cuya fórmula química es C₁₂H₂₂O₁₁, también llamada «azúcar común» o «azúcar de mesa». La sacarosa es un disacárido formado por una molécula de glucosa y una de fructosa, que se obtiene principalmente de la caña de azúcar o de la remolacha.
                </p></td>
              </tr>
              <tr>
                <td class="text">Proteinas</td>
                <td><p class="sp">
                  La figura corresponde a la Las proteínas (< en francés: protéin, 'prominente, de primera calidad')​ o prótidos​ son macromoléculas formadas por cadenas lineales de aminoácidos. Las proteínas desempeñan un papel fundamental para la vida y son las biomoléculas más versátiles y diversas.
                </p></td>
              </tr>
            </tbody>
          </table>



          </div>      
      </div>         

      </div>    
     


      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Fecundación, desarrollo del embrión y métodos anticonceptivos
        </div>
      </div>
  
    
      <div class="row fondoa">
        <video  width="100%" height="240" controls >
          <source src="../resource/interactivo.mp4" type="video/mp4">
        </video>
      </div>

      <br>
      <hr class="line1">
      <p class="copyright text-center">© Virtual Programs Developers All right reserved.</p>
       
    </div>
    

<!--****************************************************************************************************************-->
  

       
  

  </ion-content>
</ion-view>
