<ion-view view-title="Infografía">
  <ion-content>
    
  	<link rel="stylesheet"  href="../css/style.css">

  	<div class="container fondoblanco">
  		<br>
		<hr class="line1">
		<hr class="line">

  		<div class="row">
			<div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Infografía
			</div>
		</div>

    <hr>

		<br>
		<div class="row">
  			<img src="../img/infografia.jpeg" class="infografia">
  		</div>
    <div class="col TituloAmarillo text-center">
      <span class="ion-ionic"></span>Video Promocional sobre la Reporduccion Sexual
      <div>
        <video loop="loop" autoplay="auto" controls="controls" preload="auto" class="video" style="padding-top: 15%;padding-bottom: 15%;" volume="50" >
          <source src="../resource/reproduccion.mp4" type="video/mp4">
        </video>

        <hr>
      </div>

    </div>


  	</div>


  

  </ion-content>
</ion-view>
